@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  margin-inline: auto;
  width: min(90%, 1000px);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(14rem, 1fr));
}
@media (min-width: 1024px) {
  .parent {
    grid-template-columns: repeat(4, minmax(14rem, 1fr));
  }
}
